@import "styles/variables";

.tag {
  display: inline-block;
  padding: 3px 4px 3px 5px;
  font-size: $font-size-xs;
  line-height: 15px;
  letter-spacing: 0.55px;
  white-space: nowrap;
  border: 1px solid $body-color;
  border-radius: $border-radius-sm;
  cursor: pointer;
}
