@import "styles/variables";
@import "styles/mixins";

$filter-padding-x: 4 * $base-unit;
$filter-padding-y: 3 * $base-unit;

.filter {
  padding: $filter-padding-y $filter-padding-x;
  font-size: $font-size-sm;
}

.buckets,
.challenge-types,
.tracks,
.prize,
.sub-communities {
  margin-bottom: 18px;

  > h3 {
    margin-bottom: 12px;
    font-size: inherit;
    line-height: 19px;
  }
}

.buckets {
  &.vertical-list {
    > div > div {
      margin: $base-unit 0;
    }
  }
}

.challenge-types,
.tracks,
.sub-communities {
  .vertical-list {
    > span {
      display: block;
      margin: 2 * $base-unit 0;

      > label {
        display: inline-block;
        margin-right: 2 * $base-unit;
        margin-top: -2px;
        vertical-align: middle;
      }
    }
  }
}

.skills {
  margin-bottom: 34px;
}

.prize {
  margin-bottom: 23px;

  > div {
    display: inline-flex;
    width: calc(50% - 8px);
  }

  .separator {
    display: inline-block;
    width: 4px;
    height: 1px;
    margin: 0 4px;
    background: $body-color;
  }
}

.prize {
  margin-top: -12px;
}

.recommended-challenges {
  margin: 20px 0 25px;
  font-size: $font-size-sm;
  line-height: 30px;

  .toggle {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.footer {
  margin: 20px 0 45px;
  text-align: center;

  button {
    width: 110px;
  }

  button + button {
    margin-left: 9px;
  }
}
