@import "styles/variables";
@import "styles/mixins";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.per-page {
  width: 128px;

  :global {
    .Select-value-label::after {
      content: ' per page';
    }
  }
}

.pages {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: -150px;
}

.page {
  > button {
    @include roboto-bold;

    width: 30px;
    height: 30px;
    margin: 0 5px;
    color: $darkGreen;
    text-align: center;
    appearance: none;
    background: none;
    border: 1px solid $darkGreen;
    border-radius: 50%;
  }

  &.active {
    > button {
      color: inherit;
      border-color: $body-color;
    }
  }

  &.previous,
  &.next {
    > button {
      width: auto;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 15px;
    }

    &.hidden {
      visibility: hidden;
    }
  }
}




