@import "styles/variables";
@import "styles/mixins";

$panel-padding-x: 24px;
$panel-padding-y: 16px;

.panel {
  background: $white;
  border-radius: $border-radius-lg;
}

.panel-header {
  padding: $panel-padding-y $panel-padding-x 0;
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;
}

.panel-body {
  padding: 0 $panel-padding-x;
}

.panel-footer {
  padding: 0 $panel-padding-x $panel-padding-y;
  border-bottom-left-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
}
