@import "styles/variables";
@import "styles/mixins";

.phase-point {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  &.active,
  &.passed {
    .text {
      opacity: 1;
    }
  }

  &.active {
    background-color: $green3;
    box-shadow: 0 0 0 2px $white;

    .checkmark {
      background-color: $white;
      box-shadow: none;
    }

    .text {
      @include roboto-bold;

      font-size: $font-size-sm;
      color: $green;
    }
  }

  &.passed  {
    .checkmark {
      top: 2px;
      left: 2px;
      width: 20px;
      height: 20px;
      background: url("../../../../../../assets/icons/checkpoint.png") no-repeat center / 100%;
    }
  }
}

.checkmark {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  background-color: $gray3;
  border-radius: 50%;
  box-shadow: 0 0 0 2px $white;
}

.text {
  position: absolute;
  top: calc(100% + 2px);
  font-size: $font-size-xs;
  line-height: 18px;
  opacity: 0.247;
  white-space: nowrap;
  transform: translateX(calc(-50% + 12px));
}
