@import "styles/variables";
@import "styles/mixins";
@import 'styles/GUIKit/default';

.button {
  @include roboto-bold;

  padding: 8px 12px;
  font-size: $font-size-xs;
  color: $green;
  line-height: 1;
  letter-spacing: 0.8px;
  white-space: nowrap;
  appearance: none;
  background: $white;
  border: 1px solid $green;
  border-radius: 15px;
}

.button-primary {
  color: $white;
  background-color: $green;
}

.button-text {
  padding: 0;
  letter-spacing: 1px;
  color: inherit;
  border: none;
  background: none;
}

.button-lg {
  padding: 12px 20px;
  font-size: $font-size-sm;
  border-radius: 20px;
}
