@import "styles/variables";
@import "styles/mixins";
@import 'styles/GUIKit/default';

.button {
  @include roboto-bold;

  padding: 8px 12px;
  font-size: $font-size-xs;
  color: $green;
  line-height: 1;
  letter-spacing: 0.8px;
  white-space: nowrap;
  appearance: none;
  background: $white;
  border: 1px solid $green;
  border-radius: 15px;
}

.button-primary {
  color: $white;
  background-color: $green;
}

.button-icon {
  width: 32px;
  height: 32px;
  padding: 0;
  line-height: 0;
  text-align: center;
  vertical-align: middle;
  appearance: none;
  background: none;
  border: 0;
  border-radius: 50%;
}
