@import "styles/variables";
@import "styles/mixins";

.even {
  background: #FBFBFB;
}

.odd {
  background: transparent;
}

.input-group {
  position: relative;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 17px;
  width: 38%;
  min-width: 380px;

  .search-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 40px;
  }

  .close-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 40px;
  }

  .clear-button {
    background: none;
    border: none;
  }

  input {
    margin-top: 0 !important;
    padding-left: 46px !important;
  }
}

.separator {
  display: inline-block;
  width: 1px;
  height: 36px;
  line-height: 40px;
  vertical-align: middle;
  background: #E9E9E9;
}

.sort-by {
  display: inline-block;
  width: 200px;
}

.from-to {
  display: inline-block;
  margin-top: -12px;
}

.sort-by,
.from-to {
  margin-left: 16px;

  &.hidden {
    display: none;
  }
}

.pagination {
  padding: 17px 0 15px;
}
