:global {
  .track-icon {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    line-height: 1;

    > svg {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }
}
