@import "styles/variables";
@import "styles/mixins";

.page {
  padding: $page-padding-y $page-padding-x 55px;
}

.title {
  @include barlow-condensed-medium;

  display: flex;
  align-items: center;
  margin-bottom: 22px;
  justify-content: space-between;

  .text {
    align-self: flex-start;
  }

  .operation {
    width: 375px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.empty-label {
  text-align: center;
  margin-top: 100px;
}
