@import "styles/variables";
@import "styles/mixins";

.page {
  padding: $page-padding-y $page-padding-x 105px;
}

.title {
  @include barlow-condensed-medium;
  margin-bottom: 22px;
}

.button-icon {
  width: 32px;
  height: 32px;
  padding: 0;
  line-height: 0;
  text-align: center;
  vertical-align: middle;
  appearance: none;
  background: none;
  border: 0;
  border-radius: 50%;

  &.active {
    path {
      fill: $darkGreen;
    }
  }
}

.view-mode {
  float: right;

  > button {
    margin: 0 2px;
  }
}
