@import "styles/variables";
@import "styles/mixins";

.page {
  padding: $page-padding-y $page-padding-x 105px;
}

.title {
  @include barlow-condensed-medium;
  margin-bottom: 22px;
}

.view-mode {
  float: right;

  > * {
    margin: 0 2px;
  }
}
