@import "styles/variables";
@import "styles/mixins";

.container {
  &.isError {
    input {
      border: 1px solid $tc-level-5;
    }

    .errorHint {
      display: block;
      color: $tc-level-5;
      font-size: 12px;
      padding: 4px 0;
      height: 20px;
    }
  }
}

.date-range-input {
  width: 230px;
  margin-top: -12px;
  font-size: $font-size-sm;

  @include textinput-show-label;
}

.input-group {
  position: relative;

  .icon {
    position: absolute;
    top: 22px;
    right: 14px;
    display: block;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
  }

  input {
    padding-right: 46px !important;
  }
}

.errorHint {
  display: none;
}
