@import "styles/variables";

.challenge-error {
  padding: 16px 24px;
  min-height: 136px;
  margin-bottom: 35px;
  font-size: $font-size-sm;
  line-height: 22px;
  text-align: center;
  background: $white;
  border-radius: $border-radius-lg;

  h1 {
    padding: 15px 0 10px;
  }

  p {
    margin-bottom: 20px;
  }
}
