*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 { @include heading-xl; }
h2 { @include heading-lg; }
h3 { @include heading-md; }
h4 { @include heading-sm; }
h5 { @include heading-xs; }
h6 { @include heading-xs; }

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
}

a {
  cursor: pointer;
}
