:global {
  .layout {
    display: flex;

    .sidebar {
      flex: 0 0 270px;
      background: $white;

      > hr {
        margin: 0 20px;
        border-color: $tc-gray-05;
        opacity: 0.5;
      }
    }

    .content {
      flex: 1 1 auto;
    }
  }
}
