:global {
  .layout {
    display: flex;

    .sidebar {
      flex: none;
      width: var(--sideBarWidth, 270px);
      min-height: calc(100vh - var(--navbarHeight, 60px));
      background: $white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .sidebar-content {
        > hr {
          margin: 0 20px;
          border-color: $tc-gray-05;
          opacity: 0.5;

          &:last-child {
            display: none;
          }
        }
      }

      .sidebar-footer {
        margin: 0 auto;
        margin-bottom: 125px;
      }
    }

    .content {
      flex: 1 1 auto;
    }

    .button {
      @include roboto-bold;

      padding: 12px 16px;
      font-size: 13px;
      color: $green;
      line-height: 1;
      letter-spacing: 0.8px;
      white-space: nowrap;
      appearance: none;
      background: $white;
      border: 1px solid $green2;
      border-radius: 20px;
    }

    .button-primary {
      color: $white;
      background-color: $green2;
    }
  }

  #tooltips-container-id {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1001;
  }
}
