@import "styles/variables";
@import "styles/mixins";

.ribbon {
  @include roboto-bold;

  display: inline-flex;
  align-items: center;
  height: 26px;
  padding: 0 4px 0 10px;
  font-size: 11px;
  color: $tc-white;
  line-height: 14px;
  letter-spacing: 0.92px;
  background-image: linear-gradient(-135deg, $blue 0%, $green3 100%);
  border-radius: 0 13px 13px 0;
}

.ribbon-text {
  padding-top: 2px;
}

.ribbon-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  margin: 4px;
  cursor: default;

  svg {
    path {
      fill: currentColor;
    }
  }
}
