@import "styles/variables";

.submissions {
  display: inline-block;
  font-size: $font-size-sm;
  line-height: 22px;

  img {
    display: inline-block;
    width: 14px;
    height: 16px;
    margin-right: 7px;
    vertical-align: middle;
  }
}
