/**
 * Typography-related mixins:
 *  - Font styles
 *  - Heading text styles
 */

/// FONTS

// Roboto
@mixin roboto-thin {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

@mixin roboto-light {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

@mixin roboto-regular {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin roboto-medium {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

@mixin roboto-bold {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@mixin roboto-black {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 900;
}

// Barlow Condensed
@mixin barlow-condensed-black {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 900;
}

@mixin barlow-condensed-bold {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@mixin barlow-condensed-semibold {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin barlow-condensed-medium {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

@mixin barlow-condensed-regular {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin barlow-condensed-light {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

@mixin barlow-condensed-thin {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

// Barlow
@mixin barlow-black {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 900;
}

@mixin barlow-bold {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@mixin barlow-semibold {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin barlow-medium {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

@mixin barlow-regular {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin barlow-light {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

@mixin barlow-thin {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

/// HEADINGS

@mixin heading-xl {
  font-size: 34px;
}

@mixin heading-lg {
  font-size: 28px;
}

@mixin heading-md {
  font-size: 20px;
}

@mixin heading-sm {
  font-size: 15px;
}

@mixin heading-xs {
  font-size: 13px;
}
